/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/zbj5lgl.css");

/* Styles for the body */

body {
	font-family: "noka", sans-serif;
	color: #202030;
	background-color: #9AD2CB;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #FFBCAD;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #F2857D;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F2857D;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.owncss-div {
	background-color: #FEFFBE;
}

.bordercolor {
	border: 2px solid #D7EBBA !important; 
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

/* Created Style by Student */
.adobelist li::before, .adobeskill li::before {
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}